
  
  * {
    
    font-family: 'poppins';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem 7%;
    background-color: #FFF6DC;
    position: fixed;
    height: 120px;
    top: 0;
    left: 0;
    right: 0;
  }
  
  .logo {
    width: 146px;
    height: 150px;
  }
  
  .navbar .name-logo {
    display: flex;
    align-items: center;
    color: #062D3E;
    font-size: 36px;
    font-weight: 700;
  }
  
  .navbar .navbar-nav ul,
  .navbar .navbar-nav li {
    color: #062D3E;
    display: inline-block;
    font-size: 20px;
    font-weight: 900;
    margin: 0 0.2rem;
  }
  
  .navbar .navbar-nav ul {
    list-style: none;
    width: 100%;
  }
  
  .navbar .navbar-nav li {
    float: left;
    position: relative;
    width: auto;
  }
  
  .navbar .navbar-nav a {
    display: flex;
    color: #062D3E;
    padding: 10px;
    text-decoration: none;
  }
  
  .navbar .navbar-nav li:hover a {
    color: #ED5C01;
  }
  
  .navbar .navbar-nav li::after {
    content: "";
    display: block;
    border-bottom: 3px solid #ED5C01;
    transform: scaleX(0);
  }
  
  .navbar .navbar-nav li:hover::after {
    transform: scaleX(0.5);
    transition: 0.2s linear;
  }
  
  .navbar .navbar-extra a {
    color: #ffff;
    background-color: #ED5C01;
  border-radius: 50px;
    padding: 10px 25px 10px 25px;
  }
  
  /* main page */

  body{
    background-color: #FFF6DC;
  }

  /* banner section start */
  .banner-price {
    background-image: url(../assets/price/bannerPrice.png);
    margin-top: 120px;
    height: 520px;
  }


  .banner-container{
    padding-top: 310px;
    padding-right: 40px;
  }

  .banner-container h1{
    color: #ffff;
    text-align: end;
    font-weight: bold;
    text-shadow: -1px 0 black, 0.5px black, 0.5px 0 black, 0 -1px black;
    font-size: 4.5rem;
  }

/* banner section end */

/* article start */
.artice-container{
    margin-left: 50px;
    color: #003459;
    margin-top: 30px;
    
}

.artice-container h1 {
    display: flexbox;
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 40px;
}

.paragraf-container p {
    display: flexbox;
    font-size: 20px;
    margin-bottom: 10px;
}
/* article end */

/* table start */
.table-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.table-container{
    background-color: #FBBD08;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    width: 1050px;
    padding: 20px 20px;
    border-radius: 10px;
    margin-bottom: 15rem;
}


table {
    
    width: 1000px;
    border-collapse: collapse;
    margin: 20px 0;
}

th,
td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid black;
}
/* table end */


.catAndDog{
    position: absolute;
    top: 1500px;
    right: 50px;
}
.catAndDog img{
    width: 20rem;
    height: 20rem;
}

/* footer */

.footer {
    background-color: #002A48;
    padding: 40px;
    padding-right: 20px;
  }
  
  .footer-container {
    max-width: 1170px;
    margin: auto;
  }
  
  .row {
    display: flex;
    justify-content: space-around;
  }
  
  ul {
    list-style: none;
  }
  
  .footer-col {
    width: 30%;
    padding: 0 50px;
    color: #000;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
  }
  
  .footer-col li {
    color: #FFF6DB;
  }
  
  .footer-col h4 {
    font-size: 20px;
    color: #FFF6DB;
    text-transform: capitalize;
    margin-bottom: 20px;
    font-weight: 700;
    position: relative;
  }
  
  .footer-col h4::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #FFF6DB;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
  }
  
  .footer-col ul li a:hover {
    color: var(--primary);
    padding-left: 8px;
    transition: 0.4s;
  }
  
  .footer-col .social-media a {
    display: inline-block;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    background-color: #FFF6DB;
    color: #1d1c19;
    transition: all 0.5s ease;
  }
  
  .footer-col .social-media a:hover {
    color: #fff;
    background-color: #000;
  }
  
  .footer .name-logo {
    display: flex;
    align-items: center;
    color: #FBBD08;
    font-size: 36px;
    font-weight: 700;
  }
  
  .fixed-footer {
    display: flex;
    width: 100%;
    background-color: #0f456c;
    color: #fff;
    justify-content: center;
  }