@media only screen and (max-width: 1150px) {
    body {
      display : none;
    }
  }

* {
    font-family: 'poppins';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

body {
    background-color: #FFF6DB;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem 7%;
    background-color: #FFF6DC;
    position: fixed;
    height: 120px;
    top: 0;
    left: 0;
    right: 0;
}

.logo {
    width: 146px;
    height: 150px;
}

.navbar .name-logo {
    display: flex;
    align-items: center;
    color: #062D3E;
    font-size: 36px;
    font-weight: 700;
}

.navbar .navbar-nav ul,
.navbar .navbar-nav li {
    color: #062D3E;
    display: inline-block;
    font-size: 20px;
    font-weight: 900;
    margin: 0 0.2rem;
}

.navbar .navbar-nav ul {
    list-style: none;
    width: 100%;
}

.navbar .navbar-nav li {
    float: left;
    position: relative;
    width: auto;
}

.navbar .navbar-nav a {
    display: flex;
    color: #062D3E;
    padding: 10px;
    text-decoration: none;
}

.navbar .navbar-nav li:hover a {
    color: #ED5C01;
}

.navbar .navbar-nav li::after {
    content: "";
    display: block;
    border-bottom: 3px solid #ED5C01;
    transform: scaleX(0);
}

.navbar .navbar-nav li:hover::after {
    transform: scaleX(0.5);
    transition: 0.2s linear;
}

.navbar .navbar-extra a {
    color: #ffff;
    background-color: #ED5C01;
    border-radius: 50px;
    padding: 10px 25px 10px 25px;
}

/* navbar end */

/* banner */
.banner-container p {
    background-image: url(../assets/serviceInformation/image/bannerService.png);
    height: 540px;
    margin-top: 120px;
    font-size: 5rem;
    color: white;
    font-weight: bold;
    padding-top: 340px;
    padding-left: 20px;
}

/* banner end */

/* article */
.article-container {
    display: flex;
    margin: 20px 50px;
}

.judul{
    margin-bottom: 15px;
}

.left-section {
    width: 140rem;
    margin-right: 30px;
}

.left-section h2 {
    color: #003459;
    font-size: 35px;
}
.left-section p{
    color: #003459;
    font-weight: bold;
    font-size: 17px;
}

.right-section{
    margin-left: 30px;
}

.right-section h2{
    color: #003459;
    font-size: 35px;
}

.right-section p{
    color: #003459;
    font-weight: bold;
    font-size: 17px;
}
/* article end */

.article-banner{
    background-image: url(../assets/serviceInformation/image/banner2.png);
    height: 540px;
    padding: 50px 50px;
}

.article-banner h2{
    color: white;
    text-align: end;
    font-size: 70px;
    font-weight: bold;
    margin-bottom: 20px;
}

.article-banner p{
    font-size: 17px;
    width: 75rem;
    color: white;
    font-weight: bold;
}



/* footer */

.footer {
    background-color: #002A48;
    padding: 40px;
    padding-right: 20px;
}

.footer-container {
    max-width: 1170px;
    margin: auto;
}

.row {
    display: flex;
    justify-content: space-around;
}

ul {
    list-style: none;
}

.footer-col {
    width: 30%;
    padding: 0 50px;
    color: #000;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col li {
    color: #FFF6DB;
}

.footer-col h4 {
    font-size: 20px;
    color: #FFF6DB;
    text-transform: capitalize;
    margin-bottom: 20px;
    font-weight: 700;
    position: relative;
}

.footer-col h4::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #FFF6DB;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li a:hover {
    color: var(--primary);
    padding-left: 8px;
    transition: 0.4s;
}

.footer-col .social-media a {
    display: inline-block;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    background-color: #FFF6DB;
    color: #1d1c19;
    transition: all 0.5s ease;
}

.footer-col .social-media a:hover {
    color: #fff;
    background-color: #000;
}

.footer .name-logo {
    display: flex;
    align-items: center;
    color: #FBBD08;
    font-size: 36px;
    font-weight: 700;
}

.fixed-footer {
    display: flex;
    width: 100%;
    background-color: #0f456c;
    color: #fff;
    justify-content: center;
}