@media only screen and (max-width: 1150px) {
    body {
      display : none;
    }
  }

body{
    font-family: 'Poppins';
    background-image: url(../assets/signIn/bg_signIn.png);
    background-size: 100vw 100vh;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.signUp-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container{
    background-color: #ffff;
    padding: 2rem;
    border-radius: 15px;
    background-color: #fff;
    box-shadow: 0px 1px 4px rgba(0, 0 ,0 ,1);
}

.form-group{
    margin-bottom: 5px;
}

.form-label{
    display: block;
}

.form-input{
    width: 274px;
    height: 25px;
    border: none;
    border-bottom: 1px solid black;

}

.signUp-input{
    width: 280px;
    height: 30px;
    margin-top: 15px;
    background-color:#ED5C01;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.signUp-input:hover{
    color: white;
}

.create{
    font-size: small;
}

.create a{
    color: #ED5C01;
    text-decoration: none;
    font-size: 13px;
}
.create a:hover{
    font-size: 12.5px;
    transition: 0.2s linear;
}