@media only screen and (max-width: 1150px) {
  body {
    display : none;
  }
}

* {
  font-family: 'poppins';
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  font-family: Baloo, sans-serif;
}


/* NAVBAR DROPDOWN START */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: #FFF6DC;
  position: fixed;
  height: 120px;
  top: 0;
  left: 0;
  right: 0;
}

.logo {
  width: 146px;
  height: 150px;
}

.navbar .name-logo {
  display: flex;
  align-items: center;
  color: #062D3E;
  font-size: 36px;
  font-weight: 700;
}

.navbar .navbar-nav ul,
.navbar .navbar-nav li {
  color: #062D3E;
  display: inline-block;
  font-size: 20px;
  font-weight: 900;
  margin: 0 0.2rem;
}

.navbar .navbar-nav ul {
  list-style: none;
  width: 100%;
}

.navbar .navbar-nav li {
  float: left;
  position: relative;
  width: auto;
}

.navbar .navbar-nav a {
  display: flex;
  color: #062D3E;
  padding: 10px;
  text-decoration: none;
}

.navbar .navbar-nav li:hover a {
  color: #ED5C01;
}

.navbar .navbar-nav li::after {
  content: "";
  display: block;
  border-bottom: 3px solid #ED5C01;
  transform: scaleX(0);
}

.navbar .navbar-nav li:hover::after {
  transform: scaleX(0.5);
  transition: 0.2s linear;
}

.navbar .navbar-extra img {
  color: #ffff;
  background-color: #ED5C01;
  width: 45px;
  height: 45px;
  border-radius: 50px;
  padding: 5px;
  cursor: pointer;
}

/* dropdown */
.sub-menu-wrap {
  position: absolute;
  right: 8%;
  top: 13%;
  width: 250px;
  max-height: 0px;
  overflow: hidden;
  position: fixed;
  transition: max-height 0.5s;
}

.sub-menu-wrap.open-menu {
  max-height: 400px;
}

.textt {
  color: #062D3E;
}

.textt h2 {
  font-size: 20px;
}

.textt p {
  font-size: 10px;
}

.user-info {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.user-info img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}


.sub-menu {
  background-color: #FDFDFD;
  padding: 30px;
  border-radius: 15px;
}

.sub-menu-link {
  display: flex;
  justify-content: end;
}

.sub-menu-link p {
  color: #062D3E;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;

}

/* dropdown end */
/* NAVBAR DROPDOWN END */

/* main page */
.paragraf1{
  margin-top: 115px;
  height: 544px;
  width: 100%;
  display:flex;
}

.picture1{
  height: 544px;
  width: 100%;
}

.conten1{
  display:flex;
  height: 700px;
  width: 100%;
  background-color: #FFF6DB;
}
.box1{
  width:95px;
  height:62px;
  background:#003459;
  border-radius: 5px;
  text-align: center;
  margin-right:2rem;
  color: #FFF6DB;
  }

.picture2{
  height: 488px;
  width: 439px;
  margin-top: 7rem;
  margin-left: 7rem;
}

.conten1 .right{
margin-left: 7rem;
margin-top: 10rem;
margin-right:2rem;
color: #003459;
}

.right h2{
  font-size: 40px;
  font-weight: 700; 
  display: flex;
}
  
.right p{
  font-size: 24px;
  font-weight: 500;
  margin-top: 2rem;
}

.conten2{
  display: flex;
  height: 761px;
  width: 100%;
  background-color: #FBBD08;
}

.box2{
  width:62px;
  height:62px;
  background:#003459;
  border-radius: 5px;
  text-align: center;
  margin-right:2rem;
  color: #FBBD08;
  }


.picture3{
  height: 488px;
  width: 439px;
  margin-top: 9rem;
  margin-right: 7rem;
}

.conten2 .left{
margin-right: 7rem;
margin-top: 15rem;
margin-left: 4rem;
color: #003459;
}

.left h2{
  font-size: 40px;
  font-weight: 700;
  display: flex;
}

.left p{
  font-size: 24px;
  font-weight: 500;
  margin-top: 2rem;
}

.conten3{
  display:flex;
  height: 700px;
  width: 100%;
  background-color: #ED5C01;
}

.box3{
  width:62px;
  height:62px;
  background:#ffff;
  border-radius: 5px;
  text-align: center;
  margin-right:2rem;
  color:#ED5C01;
  }

.picture4{
  height: 488px;
  width: 439px;
  margin-top: 7rem;
  margin-left: 7rem;
}

.conten3 .right{
margin-left: 7rem;
margin-top: 12rem;
margin-right: 4rem;
color: #ffff;
}

.right h2{
  font-size: 40px;
  font-weight: 700;
  display: flex;
}
  

.right p{
  font-size: 24px;
  font-weight: 500;
  margin-top: 2rem;
}

.conten4{
  display: flex;
  height: 761px;
  width: 100%;
  background-color: #189CAB;
}

.box4{
  width:62px;
  height:62px;
  background:#ffff;
  border-radius: 5px;
  text-align: center;
  margin-right:2rem;
  color:#189CAB;
  }


.picture5{
  height: 488px;
  width: 439px;
  margin-top: 9rem;
  margin-right: 7rem;
}

.conten4 .left{
margin-right: 7rem;
margin-top: 15rem;
margin-left: 4rem;
color: #ffff;
}

.left h2{
  font-size: 40px;
  font-weight: 700;
  display: flex;
}

.left p{
  font-size: 24px;
  font-weight: 500;
  margin-top: 2rem;
}


.conten5{
  display:flex;
  height: 700px;
  width: 100%;
  background-color: #003459;
}

.box5{
  width:62px;
  height:62px;
  background:#ffff;
  border-radius: 5px;
  text-align: center;
  margin-right:2rem;
  color:#003459;
  }

.picture6{
  height: 488px;
  width: 439px;
 
  margin-top: 7rem;
  margin-left: 7rem;
}

.conten5 .right{
margin-left: 7rem;
margin-top: 15rem;
margin-right: 4rem;
color: #ffff;
}

.right h2{
  font-size: 40px;
  font-weight: 700;
  display: flex;
}
  

.right p{
  font-size: 24px;
  font-weight: 500;
  margin-top: 2rem;
}

/* footer */

.footer {
  background-color: #002A48;
  padding: 40px;
  padding-right: 20px;
}

.footer-container {
  max-width: 1170px;
  margin: auto;
}

.row {
  display: flex;
  justify-content: space-around;
}

ul {
  list-style: none;
}

.footer-col {
  width: 30%;
  padding: 0 50px;
  color: #000;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}

.footer-col li {
  color: #FFF6DB;
}

.footer-col h4 {
  font-size: 20px;
  color: #FFF6DB;
  text-transform: capitalize;
  margin-bottom: 20px;
  font-weight: 700;
  position: relative;
}

.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #FFF6DB;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer-col ul li a:hover {
  color: var(--primary);
  padding-left: 8px;
  transition: 0.4s;
}

.footer-col .social-media a {
  display: inline-block;
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  background-color: #FFF6DB;
  color: #1d1c19;
  transition: all 0.5s ease;
}

.footer-col .social-media a:hover {
  color: #fff;
  background-color: #000;
}

.footer .name-logo {
  display: flex;
  align-items: center;
  color: #FBBD08;
  font-size: 36px;
  font-weight: 700;
}

.fixed-footer {
  display: flex;
  width: 100%;
  background-color: #0f456c;
  color: #fff;
  justify-content: center;
}